@charset "UTF-8";

body {
  font-family: sans-serif;
  background-color:linear-gradient(90deg,#7553ef,#f898e2);
}

h1 {
  color: #333333;
}

.box{
    background-color:white;
    border-radius:20px;
    width: 600px;
    padding: 20px;
    border: 1px solid white;
    display: block;
    margin: 0 auto;
}
